.signup-form {
 width: 70% !important;
}

.signup-button {
 background-color: #000 !important;
 color: #fff !important;
 width: 100%;
}

.google-icon {
 width: 30px;
}

.logo-png {
 margin-top: 50px;
 margin-left: 200px;

}


.body {
 margin: 0;
 padding: 0;
}

.main {
 position: relative;
}

img {
 width: 100%;
}

.header {
 display: flex;
 justify-content: space-between;
 padding: 20px;
 color: #fff;
 position: absolute;
 width: 100%;
 box-sizing: border-box;
 position: absolute;
 top: 0;
}

.footer {
 background-color: #333;
 color: #fff;
 padding: 20px;
 text-align: center;
}

.footer ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.footer li {
 display: inline-block;
 margin-right: 10px;
}

.navigation a {
 padding: 50px;
}